[General]
# 句読点スタイル
# 可能な値:
# Japanese
# Latin
# Wide latin
# Wide latin Japanese
#PunctuationStyle=Japanese
# 初期入力モード
# 可能な値:
# Hiragana
# Katakana
# Half width Katakana
# Direct input
# Wide latin
#InitialInputMode=Hiragana
# 候補ウィンドウの項目数
#PageSize=10
# 候補リストのレイアウト
# 可能な値:
# Global
# Vertical
# Horizontal
#CandidateLayout=Vertical
# 候補ウィンドウを表示するまでの候補数
#NTriggersToShowCandWin=0
# 入力列を自動的に修正する
# 可能な値:
# True False
#AutoCorrect=True
# 次のページへ
#CandidatesPageUpKey=PGUP
# 前のページへ
#CandidatesPageDownKey=PGDN
# カーソルを上に
#CursorUp=UP
# カーソルを下に
#CursorDown=DOWN
# 注釈を表示
# 可能な値:
# True False
#ShowAnnotation=True

